
ons-toolbar div {
    text-align: center;
}

ons-row.display {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13vw;
}

ons-row.display strong {
    font-size: 16vw;
    font-weight: normal;
}

ons-row.display small {
    font-style: normal;
}

ons-row.buttons {
    text-align: center;
}

ons-row.buttons ons-button {
    font-size: 27px;
}

span.hour {
    color: darkblue;
    font-weight: bold;
}

ons-list.registers,
ons-list.registers ons-list-header, 
ons-list.registers ons-list-item {
    font-size: 20px;
    text-align: center;
}

ons-list.registers ons-list-header {
    font-weight: bold;
}
