<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>µStopwatch</title>  
  
  <!-- Onsen UI -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">  
  <script type="text/javascript" src="lib/onsen/js/angular/angular.js"></script>    
  <script type="text/javascript" src="lib/onsen/js/onsenui.js"></script>    

  <!-- Miscellaneous -->
  <script type="text/javascript" src="lib/moment-2.9.0.min.js"></script>    
  
  <!-- App -->
  <link rel="stylesheet" href="css/app.css"/>
  <script type="text/javascript" src="js/app.js"></script>    
</head>

<body ng-controller="mainCtrl">    
  
    <ons-page>
        <ons-toolbar>
            <div class="center"><strong>µStopwatch</strong></div>
        </ons-toolbar>

        <ons-row class="display">
            <ons-col>
                <strong>{{parseIntBis(timer/60000)}}:{{parseIntBis((timer/1000)%60)}}</strong>.<small>{{parseIntBis((timer%1000)/10)}}</small>
            </ons-col>
        </ons-row>
        <ons-row class="buttons">
            <ons-col>
                <ons-button ng-click="play()">
                    Play
                </ons-button>
            </ons-col>
            <ons-col>
                <ons-button ng-click="pause()">
                    Pause
                </ons-button>
            </ons-col>
            <ons-col>
                <ons-button ng-click="stop()">
                    Stop
                </ons-button>
            </ons-col>
        </ons-row>
        <br/>
        <ons-row ng-show="list.length > 0">
            <ons-col>
                <ons-list class="registers">
                    <ons-list-header>Registers</ons-list-header>
                    <ons-list-item ng-repeat="item in list">
                        <span class="hour">{{item.start.format('HH:mm:ss')}}</span> - {{formatTime(item.time)}}
                    </ons-list-item>
                </ons-list>
            </ons-col>
        </ons-row>
    </ons-page>
 
</body>
</html>
